{% block content %}
<h1>Register</h1>
<h4>Enter Student Information below</h4>
<!--Form to request user's name-->
<form action="/addStudentOrganisation" method="POST">
    <label for="Name">Enter your name:</label>
    <input class="Input" type="text" name="name" placeholder="Enter your name" /><br><br>
    <label for="organization">Enter your Organization:</label>
    <select name="organization" class="Input" >
      {% for o in organizations %}
      <option value="{{ o.orgName }}">{{ o.orgName }}</option>
      {% endfor %}
    </select><br><br>

    <button type="submit" class="pred-btn"> Register </button>

{% endblock %}
